@import "../tailwindcss";

:root {
  --background: #F9F9F9;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #F9F9F9;
  color: var(--foreground);
  font-family: var(--font-figtree), Arial, Helvetica, sans-serif;
}
